<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Customer</title>
</head>
<body>
<a href="/">Quay Lại</a>
<form action="/edit" method="post" th:object="${customer}">
	<input type="hidden" name="id" th:field="*{id}">
	<label>Name</label>
	<input type="text" name="name" th:field="*{name}">
	<label>Address</label>
	<input type="text" name="address" th:field="*{address}">
	<label>Address</label>
	<input type="text" name="address" th:field="*{email}">
	<button type="submit">Edit</button>
</form>
</body>
</html>