<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<p>
	<a href="/shop">Shop</a>
</p>
<p>
	<a href="/shopping-cart">Your cart</a>
</p>
<table border="1">
	<tr>
		<td>Name</td>
		<td>Price</td>
		<td>Description</td>
	</tr>
	<tr th:object="${product}" >
		<td th:text="${product.name}"></td>
		<td th:text="${product.price}"></td>
		<td th:text="${product.des}"></td>
		<td><a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a></td>
	</tr>

</table>
</body>
</html>